{% extends 'base.html.twig' %}

{% block title %}Demo - Date{% endblock %}

{% block body %}

    <h1>{{ 'now'|format_datetime('full', 'short') }}</h1>

{% endblock %}
{% block footer %}


{% endblock %}
